---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero";
import Project from "../components/Project";
---

<Layout title="Welcome to Astro.">
  <main class="m-0 p-0">
    <Hero />
    <Project />
  </main>
</Layout>

<style>

</style>
